<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/stylesheets/adminpanel/employees.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <%- include('nav') -%>

            <div class="main">
                <div class="top">
                    <div class="top-card">
                        <h1>Create a New Employee</h1>
                        <form action="/admin-panel/create-user" method="post" enctype="multipart/form-data">
                            <div class="container">
                                <div class="grid">
                                    <img id="avatar-preview" src="/images/avatars/default.png" alt="" />
                                    <button id="avatar-button" type="button">Select avatar</button>
                                    <input type="file" name="avatar" id="avatar" />
                                </div>
                                <div class="create-user-form">
                                    <% if (message.length> 0) { %>
                                        <div class="error-box">
                                            <p id="error-msg">
                                                <%= message %>
                                            </p>
                                        </div>
                                        <% } %>
                                            <label for="username">Username:</label>
                                            <input type="text" name="username" id="username" placeholder="Name" />
                                            <br />
                                            <label for="password">Password:</label>
                                            <input type="password" name="password" id="password" placeholder="Password" />
                                            <br />
                                            <label for="role">Role: </label>
                                            <select name="role" id="role">
                                                <option value="admin">Admin</option>
                                                <option value="employee">Employee</option>
                                                <option value="self-employed">Self-employed</option>
                                            </select>
                                            <br />
                                            <button id="create-button" type="submit">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="top-card">
                        <div id="users-stast" class="center" style="display: none">
                            <div class="" id="donutchart" style="width: 450px; height: 450px"></div>

                            <div class="centerLabel center">
                                <h1>Total users</h1>
                                <h1 id="user-count">421</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="search-users">
                    <div class="search">
                        <form id="filter-form">
                            <input type="text" id="search-input" placeholder="Search... " />
                        </form>
                    </div>
                </div>
                <br />
                <div class="users">
                    <% for (i of users) {%>
                        <div class="card cardd">
                            <img src="/images/avatars/<%= i.avatar%>" />
                            <h4 class="card-title">
                                <%= i.username%>
                            </h4>
                            <p>
                                <%= i.role%>
                            </p>
                            <p class="card-description">
                                <%= i.site%>
                            </p>
                            <a href="/admin-panel/user/profile/<%= i._id%>" class="profile"> Profile </a>
                            <a href="#" class="edit"> Edit </a>
                            <a href="/admin-panel/delete-user/<%= i._id%>" class="delete">Delete</a>
                        </div>
                        <% } %>
                </div>
            </div>
    </div>
</body>

<script src="/javascripts/admin/employees.js"></script>

</html>