<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/employees.css" />
		<!-- Font Awesome Cdn Link -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	</head>
	<body>
		<div class="container">
			<%- include('nav') -%>

			<div class="main">
				<div class="top">
					<div class="top-card">
						<h1>Create a New Employee</h1>
						<form action="/admin-panel/create-user" method="post">
							<div class="container">
								<div class="grid">
									<img id="avatar-preview" src="/images/avatars/default.png" alt="" />
									<button id="avatar-button">Select avatar</button>
									<input type="file" id="avatar" />
								</div>
								<div class="create-user-form">
									<label for="username">Username:</label>
									<input type="text" name="username" id="username" placeholder="Name" />
									<br />
									<label for="password">Password:</label>
									<input type="password" name="password" id="password" placeholder="Password" />
									<br />
									<label for="role">Role: </label>
									<select name="role" id="role">
										<option value="admin">Admin</option>
										<option value="employee">Employee</option>
										<option value="self-employed">Self-employed</option>
									</select>
									<br />
									<button class="create-button">Create</button>
								</div>
							</div>
						</form>
					</div>
					<div class="top-card">
						<h1>Statistics</h1>
						<p>comming in future</p>
					</div>
				</div>

				<div class="search-users">
					<div class="search">
						<form id="filter-form">
							<input type="text" id="search-input" placeholder="Search... " />
						</form>
					</div>
				</div>

				<div class="users">
					<% for (i of users) {%>

					<div class="card cardd">
						<img src="/images/avatars/<%= i.avatar%>" />
						<h4 class="card-title"><%= i.username%></h4>
						<p><%= i.role%></p>
						<p class="card-description"><%= i.site%></p>
						<a href="#"> Profile </a>
						<a href="#"> Edit </a>
						<a href="/admin-panel/delete-user/<%= i._id%>">Delete</a>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</body>

	<script>
		// Get the search input and cards
		const searchInput = document.querySelector("#search-input");
		const cards = document.querySelectorAll(".cardd");

		// Add an event listener to the search input
		searchInput.addEventListener("input", function () {
			// Get the search term
			const searchTerm = this.value.toLowerCase();

			// Loop through each card
			for (let card of cards) {
				// Get the card title and description
				const title = card.querySelector(".card-title").textContent.toLowerCase();
				const description = card.querySelector(".card-description").textContent.toLowerCase();

				// Check if the search term is in the title or description
				if (title.includes(searchTerm) || description.includes(searchTerm)) {
					// If it is, show the card
					card.style.display = "block";
				} else {
					// If it isn't, hide the card
					card.style.display = "none";
				}
			}
		});

		const fileInput = document.getElementById("avatar");
		const preview = document.getElementById("avatar-preview");

		fileInput.addEventListener("change", () => {
			const reader = new FileReader();
			reader.onload = () => {
				preview.src = reader.result;
			};
			reader.readAsDataURL(fileInput.files[0]);
		});

		document.getElementById("avatar-button").addEventListener("click", function (e) {
			e.preventDefault();
			fileInput.click();
		});
	</script>
</html>
