<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/adminpanel/profile.css" />
  <script src="https://code.jquery.com/jquery-3.6.2.min.js" integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <script src="/javascripts/essentials.js"></script>
</head>

<body>
  <div class="container">

    <%- include('nav') -%>
      <div class="main">
        <div class="profile">
          <div class="profile-top">
            <div class="profile-left">
              <img src="/images/avatars/<%=profile.avatar%>" id="avatar" class="editable-element" />
            </div>

            <div class="profile-right">
              <h1>
                <%= profile.username %>
              </h1>
              <p>
                <%= profile.role %>
              </p>
              <ul>
                <li id="checkinLabel"></li>
                <li id="checkoutLabel"> </li>
              </ul>
              <div id="chart"></div>
            </div>
          </div>

          <div class="profile-bottom">
            <div class="tab">
              <button class="tablinks" onclick="openCity(event, 'personal-informations')" id="defaultOpen">
                Personal Informations
              </button>
              <button class="tablinks" onclick="openCity(event, 'attendance-history')">
                Attendance History
              </button>
              <button class="tablinks" onclick="openCity(event, 'documentation-files')">
                Documentation Files
              </button>
              <button class="tablinks" id="edit-button">Edit</button>
              <button class="tablinks" id="save-button" style="display: none">
                Save
              </button>
              <button class="tablinks" id="cancel-button" style="display: none">
                Cancel
              </button>
            </div>

            <!-- Tab content -->
            <div id="personal-informations" class="tabcontent">
              <h3>Personal Informations</h3>
              <ul>
                <label for="username">Username:</label>
                <p class="editable-element" data-original-value="1" id="input-username">
                  <%=profile.username%>
                </p>
              </ul>
              <ul>
                <label for="role">Role:</label>
                <br />
                <select disabled id="input-role-select" selected="<%=profile.role%>">
                  <option value="<%=profile.role%>" selected disabled hidden>
                    <%=profile.role%>
                  </option>
                  <option value="admin">admin</option>
                  <option value="self-employed">self-employed</option>
                  <option value="employee">employee</option>
                </select>
              </ul>
              <ul>
                <label for="email">Email:</label>
                <p class="editable-element" id="input-email">
                  <%=profile.email%>
                </p>
              </ul>
              <ul>
                <label for="phone-number">Mobile:</label>
                <p class="editable-element" id="mobile-number">
                  <%=profile.mobile%>
                </p>
              </ul>
              <ul>
                <label for="site">Site:</label>
                <p class="editable-element" id="input-site">
                  <%=profile.site%>
                </p>
              </ul>

              <ul>
                <label for="site">Car:</label>
                <p class="editable-element" id="input-car">
                  <%=profile.car%>
                </p>
              </ul>

              <ul>
                <label for="site">Apartment address:</label>
                <p class="editable-element" id="input-address">
                  <%=profile.address%>
                </p>
              </ul>
            </div>

            <div id="attendance-history" class="tabcontent">
              <h3>Attendance History</h3>
              <select name="month" id="month-select">
                <option value="01" selected>januar-2023</option>
                <option value="02">februar-2023</option>
                <option value="03">marec-2023</option>
                <option value="04">april-2023</option>
                <option value="05">maj-2023</option>
                <option value="06">jun-2023</option>
                <option value="07">jul-2023</option>
                <option value="08">august-2023</option>
                <option value="09">september-2023</option>
                <option value="10">oktober-2023</option>
                <option value="11">november-2023</option>
                <option value="12">december-2023</option>
              </select>
              <div id="attendance-chart"></div>
            </div>

            <div id="documentation-files" class="tabcontent">
              <h3>Documentation Files</h3>
              <p>Soon...</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
<script>
  var checkin, checkout, date
  $.post("/admin-panel/user/latest-attendance/", { user_id: "<%= profile._id %>" }, (data) => {
    console.log(data)
    checkout = data.checkout ? addMinutes(new Date(data.checkout), 60) : new Date()
    checkin = addMinutes(new Date(data.checkin), 60)
    date = addMinutes(new Date(data.date), 1000)
    $("#checkinLabel").text("Checkin: " + DateToHH_MM(removeMinutes(checkin, 60)))
    $("#checkoutLabel").text("Checkout: " + (data.checkout ? DateToHH_MM(removeMinutes(checkout, 60)) : "not yet ..."))

    if (new Date(data.checkin) > new Date()) {
      $("#checkinLabel").text("User has entered incorect checkin time")
      $("#checkoutLabel").text("");
    }

    console.log(checkout)
    var daydata = [
      {
        data: [
          {
            x: date.toDateString(),
            y: [checkin.getTime(), checkout.getTime()],
          },
        ],
      },
    ];


    var dayoptions = {
      chart: {
        type: "rangeBar",
        height: 100,
        toolbar: {
          show: false,
        },
        zoom: {
          enabled: false,
        },
      },
      series: daydata,
      plotOptions: {
        bar: {
          horizontal: true,
        },
      },
      xaxis: {
        type: "datetime",
      },
      yaxis: {
        title: {},
      },
      tooltip: {
        x: {
          format: "HH:mm"
        }
      }
    };


    const daychart = new ApexCharts(
      document.querySelector("#chart"),
      dayoptions
    );

    daychart.render();
  })

</script>

<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;

    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    if (cityName == "personal-informations") $("#edit-button").show()
    else $("#edit-button").hide()

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }

  document.getElementById("defaultOpen").click();
</script>

<script>
  // EDIT ELEMENTS
  const editButton = document.querySelector("#edit-button");
  const cancelButton = document.querySelector("#cancel-button");
  const saveButton = document.querySelector("#save-button");
  const editableElements = document.querySelectorAll(".editable-element");
  let originalValues = [];

  editButton.addEventListener("click", () => {
    cancelButton.style.display = "inline-block";
    saveButton.style.display = "inline-block";
    document.getElementById("input-role-select").disabled = false;
    editableElements.forEach((element, index) => {
      originalValues[index] = element.textContent;
      element.contentEditable = true;
      element.style.backgroundColor = "#fafafa";
      element.style.border = "1px solid #ccc";
    });
  });

  cancelButton.addEventListener("click", () => {
    cancelButton.style.display = "none";
    saveButton.style.display = "none";
    document.getElementById("input-role-select").disabled = true;
    editableElements.forEach((element, index) => {
      element.contentEditable = false;
      element.style.backgroundColor = "transparent";
      element.style.border = "none";
      element.textContent = originalValues[index];
    });
  });
</script>

<script>
  var monthchart
  $.post("/admin-panel/user/attendance", { user_id: "<%= profile._id %>", month: parseInt($("#month-select").val()) }, (data) => {
    var month = $("#month-select").val()
    var monthdata = [
      {
        name: "main",
        data: [],
      },
    ];

    for (var x = 1; x <= 31; x++) {
      for (dat of data) {
        if (new Date(dat.date).getDate() == new Date(2023, month, x).getDate()) {
          monthdata[0].data.push({
            x: x.toString(), y: [addMinutes(new Date(dat.checkin), 60).getTime(),
            addMinutes(new Date(dat.checkout), 60).getTime()]

          })
          break
        }
      }
      monthdata[0].data.push({
        x: x.toString(), y: [,]
      })
    }




    var monthoptions = {
      chart: {
        type: "rangeBar",
        height: 1000,
        toolbar: {
          show: false,
        },
        zoom: {
          enabled: false,
        },
      },
      series: monthdata,
      plotOptions: {
        bar: {
          horizontal: true,
        },
      },
      xaxis: {
        type: "datetime",
      },
      yaxis: {
        title: {},
      },
      tooltip: {
        x: {
          format: "HH:mm"
        }
      }
    };


    monthchart = new ApexCharts(
      document.querySelector("#attendance-chart"),
      monthoptions
    );

    monthchart.render();
  })





  $("#month-select").on("change", (e) => {
    $.post("/admin-panel/user/attendance", { user_id: "<%= profile._id %>", month: parseInt($("#month-select").val()) }, (res) => {
      var month = $("#month-select").val()
      var data = []
      for (var x = 1; x <= 31; x++) {
        for (dat of res) {
          if (new Date(dat.date).getDate() == new Date(2023, month, x).getDate()) {
            data.push({
              x: x.toString(), y: [addMinutes(new Date(dat.checkin), 60).getTime(),
              addMinutes(new Date(dat.checkout), 60).getTime()]

            })
            break
          }
        }
        data.push({
          x: x.toString(), y: [,]
        })
      }


      monthchart.updateSeries([{
        name: "main",
        data
      }])
    })
  })

</script>

<script>
  $("#save-button").click(function () {
    console.log("save")
    $.post(
      "/admin-panel/user/profile/edit/",
      {
        user_id: "<%= profile._id %>",
        username: $("#input-username").text().replace(/\s/g, ''),
        role: $("#input-role-select").val(),
        email: $("#input-email").text().replace(/\s/g, ''),
        mobile: $("#mobile-number").text().replace(/\s/g, ''),
        site: $("#input-site").text().replace(/\s/g, ''),
        car: $("#input-car").text().replace(/\s/g, ''),
        address: $("#input-address").text().replace(/\s/g, ''),
      },

      (data) => {
        cancelButton.style.display = "none";
        saveButton.style.display = "none";
        document.getElementById("input-role-select").disabled = true;
        editableElements.forEach((element, index) => {
          originalValues[index] = element.textContent;
          element.contentEditable = false;
          element.style.backgroundColor = "transparent";
          element.style.border = "none";
        });
      }
    );
  });
</script>

</html>