<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/popup.css" />
	</head>
	<body>
		<div id="popup-edit" class="popup" hidden>
			<div class="popup-box">
				<h1>Edit your profile</h1>
				<h3>Username: <%= user.username%></h3>
				<h3>Role: <%= user.role%></h3>
				<form action="/user/edit-profile" method="post" enctype="multipart/form-data">
					<label for="site">Site: </label>
					<input type="text" name="site" value="<%= user.site %>" />
					<br />

					<label for="avatar">Avatar: </label>
					<input type="file" name="avatar" accept=".png, .jpg" />
					<p>Allowed filetype: .png, .jpg, .jpeg</p>
					<p>Maximum file size allowed: 8mb</p>
					<br />

					<button type="submit">Save</button>
				</form>
				<button onclick="popup_toggle('popup-edit')">Close popup</button>
			</div>
		</div>

		<div id="popup-chngpass" class="popup" hidden>
			<div class="popup-box">
				<h1>Change your password</h1>
				<form action="/user/change-password" method="post">
					<p>Current password:</p>
					<input type="password" name="current_password" />
					<p>New password:</p>
					<input type="password" name="new_password" />
					<p>Repeat new password:</p>
					<input type="password" name="re_new_password" />

					<button type="submit">Change password</button>
				</form>
				<button onclick="popup_toggle('popup-chngpass')">Close popup</button>
			</div>
		</div>

		<% if (typeof(message) != "undefined"){ %>
		<div class="msg"><%= message %></div>
		<% } %>

		<a href="/user/dashboard">back to dashboard</a><br />
		<img src="/images/avatars/<%= user.avatar %>" width="200px" style="margin-top: 30px" />
		<h2>Username: <%= user.username %></h2>
		<h2>Role: <%= user.role %></h2>
		<h2>Site: <%= user.site %></h2>
		<br />

		<button onclick="popup_toggle('popup-edit')">Edit</button>
		<button onclick="popup_toggle('popup-chngpass')">Change password</button>

		<script src="/javascripts/profile.js"></script>
	</body>
</html>
